<div class="link layout">
{% if paginator.page %}
{% if paginator.page == 1 %}
<h6>Links</h6>
<a target="_blank" title="布鲁斯狼" href="http://www.cnbruce.com/blog/">CnBruce</a>
<a target="_blank" title="聚友" href="http://www.juyo.org/">含笑</a>
<a target="_blank" title="寻欢翼翼的孤寂人生" href="http://www.w2blog.net/">寻欢翼翼</a>
<a target="_blank" title="狮子的前端生活记录" href="http://jakeauyeung.com/">狮子</a>
<a target="_blank" title="有些随风" href="http://www.windshow.com/">随风</a>
{% else %}
<h6>Sponsors</h6>
<script>
google_ad_client = "ca-pub-9632487167722126";
google_ad_slot = "1799690285";
google_ad_width = 250;
google_ad_height = 250;
</script>
<script src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
{% endif %}
{% else %}
<h6>Sponsors</h6>
<script>
google_ad_client = "ca-pub-9632487167722126";
google_ad_slot = "1799690285";
google_ad_width = 250;
google_ad_height = 250;
</script>
<script src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
{% endif %}
</div>
