<div class="link layout">
{% if paginator.page %}
{% if paginator.page == 1 %}
<h6>Friend's Website</h6>
<a target="_blank" title="布鲁斯狼" href="http://www.cnbruce.com/blog/">CnBruce</a>
<a target="_blank" title="战甲军品" href="http://www.micmoe.com">军品</a>
<a target="_blank" title="聚友" href="http://www.juyo.org/">含笑</a>
<a target="_blank" title="寻欢翼翼的孤寂人生" href="http://www.w2blog.net/">寻欢翼翼</a>
<a target="_blank" title="朱杰的前世今生" href="http://www.zhujie.net/">星哥</a>
<a target="_blank" title="狮子的前端生活记录" href="http://jakeauyeung.com/">狮子</a>
<a target="_blank" title="苗强&amp;二宝" href="http://www.tlsw.com/Blog/">苗强</a>
<a target="_blank" title="有些随风" href="http://www.windshow.com/">随风</a>
{% else %}
<h6>Sponsors</h6>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9632487167722126";
/* yeeh.org_blog_侧边 */
google_ad_slot = "4406247340";
google_ad_width = 200;
google_ad_height = 200;
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
{% endif %}
{% else %}
<h6>Sponsors</h6>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9632487167722126";
/* yeeh.org_blog_侧边 */
google_ad_slot = "4406247340";
google_ad_width = 200;
google_ad_height = 200;
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
{% endif %}
</div>
