{% if paginator.page == 1 %}
<div class="link layout">
<h6>Links</h6>
<a target="_blank" title="玩的么" href="http://wande.me/blog/">玩的么</a>
<a target="_blank" title="布鲁斯狼" href="http://www.cnbruce.com/blog/">布鲁斯狼</a>
<a target="_blank" title="朱杰的前世今生" href="http://www.zhujie.net/">朱杰</a>
<a target="_blank" title="Talent'sBlog" href="http://miaoqiang.name/">甜菜</a>
<a target="_blank" title="password generator" href="http://www.passid.org/">密码生成器</a>
<a target="_blank" title="in乐" href="http://www.inyue.com/">in乐</a>
</div>
{% else %}
<div class="links layout">
<h6>Sponsors</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9632487167722126"
     data-ad-slot="9943771089"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{% endif %}
