<footer class="pagination" role="navigation">
<span>{{paginator.page}}/{{paginator.total_pages}}</span>
{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
<a href="{{ site.baseurl }}/" title="First">&lt;</a>
{% else %}
<a href="{{ site.baseurl }}/" title="First">&lt;&lt;</a>
<a href="{{ site.baseurl }}/{{paginator.previous_page_path}}" title="Prev">&lt;</a>
{% endif %}
{% endif %}
{% for count in (paginator.page..paginator.total_pages) limit:3 %}
{% if count == paginator.page %}
<span>{{count}}</span>
{% else %}
<a href="{{ site.baseurl }}/page/{{count}}">{{count}}</a>
{% endif %}
{% endfor %}
{% if paginator.next_page %}
{% if paginator.next_page == paginator.total_pages %}
<a href="{{ site.baseurl }}/{{paginator.next_page_path}}" title="Last">&gt;</a>
{% else %}
<a href="{{ site.baseurl }}/{{paginator.next_page_path}}" title="Next">&gt;</a>
<a href="{{ site.baseurl }}/page/{{paginator.total_pages}}" title="Last">&gt;&gt;</a>
{% endif %}
{% endif %}
</footer>
