<footer class="pagination" role="navigation">
<span>{{paginator.page}}/{{paginator.total_pages}}</span>
<a href="/">Frist</a>
{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
<span>Previous</span>
{% else %}
<a href="/page-{{paginator.previous_page}}">Previous</a>
{% endif %}
{% else %}
<span>Previous</span>
{% endif %}
{% for count in (paginator.page..paginator.total_pages) limit:8 %}
{% if count == paginator.page %}
<span>{{count}}</span>
{% else %}
<a href="/page-{{count}}">{{count}}</a>
{% endif %}
{% endfor %}
{% if paginator.next_page %}
{% if paginator.next_page == paginator.total_pages %}
<span>Next</span>
{% else %}
<a href="/page-{{paginator.next_page}}">Next</a>
{% endif %}
{% else %}
<span>Next<span>
{% endif %}
<a href="/page-{{paginator.total_pages}}">Last</a>
</footer>