/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
body{line-height:1;}
section,article,aside,header,footer,nav,dialog,figure{display:block;}
figure{margin:0;}
hr,button,input,textarea{margin:0;padding:0;}
button,input,select,textarea{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none; outline:none;}
a:hover, a:focus{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
table{border-collapse:collapse;border-spacing:0;}

/* ie6 background img*/
*html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}
.no-ie678{ margin:0 20px; height:32px; line-height:32px; font-size:16px; text-align:center; border:solid 1px #e2e18e; background-color:#fffec5;}
.no-ie678 a{ margin:0 8px; font-weight:700;}

/* font */
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}

/* generic */
input[type=submit], button, label[for]{cursor:pointer;}
input[readonly],textarea[readonly]{ background-color:#ededed;}
abbr[title], acronym[title]{border-bottom:thin solid;cursor:help;}
strong, b{font-weight:bold;}

/* base */
body {color:#333;}
a{color:#000; }
a:hover{color:#666; cursor:pointer;}
h1 { font-size:36px;}
h2 { font-size:24px;}
h3 { font-size:20px;}
h4 { font-size:18px;}
h5 { font-size:16px;}
h6 { font-size:14px;}
.hidden{ display:none;}

/*common*/
.header, .nav, .search, .content, .footer{ width:990px; margin:10px auto 0 auto;}
.header a:hover, .nav a:hover{ text-decoration:none;}
.rss:hover, .nav a, .search input{ -moz-transition:all 0.4s ease-out; -webkit-transition:all 0.4s ease-out; -o-transition:all 0.4s ease-out; transition: all 0.4s ease-out;}

/*img*/
.search input, .widget_search input[type='text'], .yeeh{ background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAyCAMAAABiSatuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWJQTFRFpqami8Ih7u7uq6ursbGxmso/0eem9PT0tra26enpvLy8yeOXk8Ywzc3N4+PjqtJc+fn50tLS3d3dstAA+/35pswK+/34oskBr84A6PPTudp68Pfho8sOlMUc2NjYk8QRlMUd+fzx+fzyk8lOi8VB5e+nockJudQXvt2H1OJJfr4n5/TZh8AdzOSVwsLCkMMR9/vwlcUS2uuswtYAl8g7stZrr9Ivvd+Z+Pvth8Iug8Alq88jk8QZw9cA+/31r9VmlcYY/f77xNcA3u/L4e/G9fnowt551eeXosw5f74c+/305vLM8vjlgb0Tn8kGisQ14O6w/P34zueyhb8ZmcgcmsgSmMgo+fvo/f79mMYZlsg3w9+DyuWuf74ntdQ1udY8os5Nud2Q3+/E9vrskMc37/fb+vzr///+er0nmMcZrdRjgb8pfr4mo8sNxuOf9/rp7/fgjcIP/f780uFHtdZD////D2etbQAAAHZ0Uk5T////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////AAFiqUcAAAExSURBVHja7M5lc8MwDAZg2Q012KbcrmNm5q1jZmZmJv3/JbGztvu279NdzvITnfUCIsqGqhoysgJEG0AQAGwfTFAoIlXA5CAIIbcJBQQGFErZbBioB0EIMuBN4cSvNwQ1v8XJICsQoDxHGEBRwClPgCVttc0AE0C/KJM8eKIWgitGEaAcxGLga//hb9DPm4/4HoPeafcY7XyoOmKwMleJuHvasXnXx6DkvR5v6hL7zdWTHIYHlj6TsfvllyiD5+zx10gkVtYd51tqs43bE5HE1pu/dqjtaawreXL9k+O15XGnoWahIOn66nlx9MvBDf8iiS4szjdJhGgpnVjOSQAPr6K6lCK5dLuokYwIFeUXGecHOXA+TUQLZmduUZcQe9LeGxasjTsNIWdTOhHdiW8BBgDR8hmDsaTFzgAAAABJRU5ErkJggg==); background-repeat:no-repeat;}

/*header*/
.header{ padding:10px 0;}
.header h1, .header h2, .sitetitle{ display:inline-block; vertical-align:middle; line-height:64px;}
.sitetitle{ font-size:48px; font-weight:700; }
.tagline{ margin-left:20px; padding-left:20px; border-left:solid 1px #ddd; line-height:20px; color:#aaa; }

/*nav*/
.nav{ border-bottom:solid 1px #e2e2e2; }
.nav li{ display:inline;}
.nav a{ padding:4px 10px; display:inline-block; line-height:22px; font-size:14px; *float:left;}
.nav .current_page_item a, .nav a:hover{ background-color:#e2e2e2; position:relative; color:#333;}
.nav .current_page_item a{ font-weight:700;}
.nav .current_page_item a:after{ content:" "; display:block; border: transparent 8px solid; border-bottom-color: #fff; width:0; height:0; position:absolute; top:16px; left:20px;}

/*search*/
.search{ position:relative; margin-top:0; height:1px;}
.search form{ width:290px; position:relative; float:right; text-align:right; margin-top:-30px;}
.search input, .widget_search input{ height:22px; line-height:22px; border:solid 1px #ddd;  padding:0 8px;  border-radius:14px; background-color:#f5f5f5;  }
.search input, .widget_search input[type="text"]{width:140px; padding-left:30px; *padding-left:8px; background-position:8px 4px;}
.search input:focus, .widget_search input[type="text"]:focus{ background-color:#fdfdfd; outline:none;}
.search input:focus{ width:250px; }
.search label{ display:none; *display:inline; margin-right:10px;}

/*content*/
.col{ overflow:hidden;}
.col-main{ width:670px; float:left; margin-right:10px; _margin-right:5px; _overflow:hidden;}
.col-sub{ width:310px; overflow:hidden; zoom:1;}

/*main*/
.crumb, .title, .post, .comment{ margin-right:10px;}
.crumb, .title{ margin-top:20px;}
.crumb{margin-left:-10px; }
.title, .title-meta{ color:#666;}
.title span{ color:#000;}
.crumb a, .crumb span, .title span{ margin:0 10px;}

.post, .page{margin-top:30px;}
.entry-header{ padding-left:66px;}
.page .entry-header{ padding-left:0;}
.entry-title{ line-height:32px; padding-left:10px;}
h1.entry-title{ padding-bottom:8px;}
.entry-meta, .entry-utility{border-top:solid 1px #e2e2e2; position:relative; _zoom:1;}
.entry-meta{ min-height:36px; padding-top:4px;}
.entry-time{ position:absolute; display:block; width:60px; height:64px; text-align:center; left:-66px; top:-33px; border:solid 1px #e2e2e2; background-color:#e2e2e2; color:#444;}
.entry-month, .entry-day{ line-height:32px;}
.entry-month{ margin-right:4px; font-size:14px;}
.entry-day{ display:block; background-color:#fff; font-size:24px; }
.entry-author, .entry-cate, .entry-comment, .entry-edit, .entry-tag{ margin-left:10px; color:#999; font-style:italic;}
.entry-tag{ display:block; margin-left:8px;}
.entry-comment, .entry-edit{ float:right; _margin-top:-18px;}
.entry-edit{ background-color:#e2e2e2; padding:4px 10px 2px 10px; margin-top:-4px;}
.entry-author a, .entry-cate a, .entry-comment a, .entry-edit a, .entry-tag a{ margin:0 4px; font-style:normal;}
.entry-tag a{ margin:0 8px;}
.entry-summary, .entry-content{ margin-top:20px; }
.entry-summary p, .entry-content p{ margin-top:20px;font-size:14px;}
.entry-readmore{ padding:20px 0;}
.entry-readmore a{ font-size:14px; font-weight:700;}
/*entry content*/
.entry-content blockquote, .entry-content code{ margin-top:10px; border:solid 1px #ccc; background-color:#fefefe; margin:10px; padding:10px;}
/*pager*/
.pager{ margin-top:40px; text-align:right; min-height:30px; *height:30px; *overflow:auto;}
.pager a{ background-color:#e2e2e2; padding:0 20px; margin:0 10px; display:inline-block; font-size:14px; line-height:30px; height:30px; font-weight:700;}
.pager .pager-prev{ float:left; margin-left:0;}
.pager .pager-next{ margin-right:0;}
/*disque*/
#disqus_thread{ margin-top:30px; border-top:dashed 1px #e2e2e2;}
/*sub*/
.widget{ margin:41px 0 0 20px; }
.widget-hd{ border-bottom:solid 1px #e2e2e2; font-weight:300;position:relative; color:#333; }
.widget-hd:after{ content:" "; display:block; border: transparent 10px solid; border-right-color: #e2e2e2; width:0; height:0; position:absolute; top:12px; right:0px;}
.widget-bd{ color:#999;}
.widget-bd a{color:#555;}
/*sub type*/
.widget_nav_menu .widget-bd, .widget_recent_entries .widget-bd, .widget_recent_comments .widget-bd, .widget_links .widget-bd, .widget_pages .widget-bd, .widget_rss .widget-bd, .widget_meta .widget-bd{ padding:6px 0 0 16px;}
.widget_nav_menu .widget-bd a, .widget_recent_entries .widget-bd a, .widget_recent_comments .widget-bd li, .widget_links .widget-bd a, .widget_pages .widget-bd a, .widget_rss .widget-bd a, .widget_meta .widget-bd a{display:block; line-height:24px; }

.widget_calendar{}
.widget_calendar table{ width:100%; margin-top:4px;}
.widget_calendar caption{ height:28px; line-height:28px; font-weight:700;}
.widget_calendar caption a{ margin:0 16px;}
.widget_calendar td{ text-align:center;}
.widget_calendar thead th{ background-color:#f0f0f0; height:26px; line-height:26px;}
.widget_calendar tbody td{ height:24px; line-height:24px;}
.widget_calendar tbody td#today{ background-color:#e2e2e2;}
.widget_calendar tbody td:hover{ background-color:#ccc; color:#fff;}
.widget_calendar tbody td a{ display:block; font-weight:700; background-color:#f0f0f0; }

.widget_categories, .widget_archive{}
.widget_categories .widget-bd, .widget_archive .widget-bd{ padding-top:4px; }
.widget_categories .widget-bd li, .widget_archive .widget-bd li{ list-style-type:square; list-style-position:inside; line-height:24px; padding-left:10px;}
.widget_archive select{ width:90%; height:24px; line-height:24px; margin:16px 0 0 16px; border:solid 1px #e2e2e2;}

.widget_search .widget-bd{ padding-top:14px;}
.widget_search input{ margin-right:8px;}
.widget_search input[type="submit"]{ height:24px; }

.widget_tag{}
.widget_tag a{ margin:0 4px;}

.widget_text{}
.widget_text p{ margin-top:10px;}
.widget_text b{ margin:0 2px;}
.widget_text .gavatar{ margin:10px 10px 4px 0; width:64px; float:left;}
.widget_text .copyright{ margin:0 4px;}
.widget_text .copyright-by, .widget_text .copyright-nc, .widget_text .copyright-sa{ background:url(static/copyright.png) no-repeat; width:36px; height:36px; margin:0 4px; display:inline-block; text-indent:-999em; vertical-align:middle;}
.widget_text .copyright-by{ background-position:0 0;}
.widget_text .copyright-nc{ background-position:0 -40px;}
.widget_text .copyright-sa{ background-position:0 -80px;}

/*footer*/
.footer{ border-top:solid 1px #e2e2e2; padding:8px 0; color:#666; text-align:right;}
.footer a{ border-bottom:solid 1px #eee; color:#666; *font-weight:700;}
.footer a:hover{ border-bottom-color:#666; color:#404040; text-decoration:none; }
.footer a.yeeh{text-align:left; width:18px; height:18px; display:inline-block; vertical-align:middle; overflow:hidden; text-indent:-999em; *text-indent:0; *width:auto; background-position:0 -34px; }

/*media query*/
/*>480 <640*/

@media screen and (min-width:480px) and (max-width:640px) {
    .nav li{ display:inline-block;}
	.entry-time:before{ content:"On"; margin-right:4px; color:#999; font-style:italic;}
	.entry-comment{ display:block;}
}

/*<640*/

@media screen and (max-width:640px) {
	.entry-header{ padding-left:0;}
	.entry-time, .entry-day, .entry-month{ width:auto; height:auto; line-height:20px; }
	.entry-time{ left:0; top:0; height:20px; display:inline-block; border-width:0; margin-left:10px; position:relative; background-color:#fff;}
	.entry-day, .entry-month{ font-size:12px; display:inline;}
	.entry-year{ float:right; }
	.entry-year:before{ content:","; margin:0 4px;}
	.entry-author, .entry-cate{display:inline-block;}
	.entry-author{ margin-left:12px; }
}

/*<1024*/

@media screen and (max-width:990px) {
    .header, .nav, .search, .content, .footer{ width:94%;}
    .search{ height:auto;}
    .search form{ margin-top:4px;}
    .col-main, .col-sub{ width:100%;}
    .col-main{ margin-right:0; float:none;}
	.post{ margin-right:0;}
    .widget{ margin-left:0; margin-right:0;}
}

/*2 cols small*/

@media screen and (min-width:1240px) and (max-width:1639px) {
	.col-sub{ width:500px;}
	.widget{ float:left; width:230px;}
	.widget:nth-child(odd){ float:right;}
	.search form{ width:230px;}
	.search input{ width:110px;}
	.search input:focus{ width:190px;}
}

/*2 cols mid*/

@media screen and (min-width:1640px) and (max-width:1879px) {
	.col-sub{ width:580px;}
	.widget{ float:left; width:270px;}
	.widget:nth-child(odd){ float:right;}
	.search form{ width:270px;}
    .search input{ width:130px;}
    .search input:focus{ width:230px;}
}

/*2 cols large*/

@media screen and (min-width:1880px) {
	.col-sub{ width:660px;}
	.widget{ float:left; width:310px;}
    .widget:nth-child(odd){ float:right;}
    .search form{ width:310px;}
    .search input{ width:150px;}
    .search input:focus{ width:270px;}
}

/*1280*/

@media screen and (min-width:1240px) {
	.header, .nav, .search, .content, .footer{ width:1200px;}
	.col-main{ width:690px;}
}

/*1366*/

@media screen and (min-width:1320px) {
	.header, .nav, .search, .content, .footer{ width:1280px;}
	.col-main{ width:770px;}
}

/*1440*/

@media screen and (min-width:1400px) {
    .header, .nav, .search, .content, .footer{ width:1360px;}
    .col-main{ width:850px;}
}

/*1680*/
@media screen and (min-width:1640px) {
	.header, .nav, .search, .content, .footer{ width:1620px;}
    .col-main{ width:1030px;}
}

/*1920*/

@media screen and (min-width:1880px) {
	.header, .nav, .search, .content, .footer{ width:1860px;}
    .col-main{ width:1190px;}
}

/*2560*/

@media screen and (min-width:2520px) {
    .header, .nav, .search, .content, .footer{ width:2480px;}
    .col-main{ width:1810px;}
}