<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!--[if lt IE 9]>
<script src="{{ site.url }}/assets/html5.js"></script>
<![endif]-->
<title>{{ page.title }} - {{ site.name }}</title>
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css.css" />
<link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico" />
<link rel="alternate" type="application/atom+xml" href="{{ site.url }}/rss.xml"  />
</head>
<body>
{% include noie678.html %}
{% include header.html %}
{% include nav.html %}
{% include search.html %}
{{ content }}
{% include footer.html %}
{% include analytics.html %}
</body>
</html>
