---
layout: default
---

<article class="entry" role="article">
  <header class="entry-header">
    <h1 class="entry-title">{{ page.title }}</h1>
    <p class="entry-meta">
      <time class="entry-time">{{ page.date | date: '%Y/%m/%d %A' }}</time>
    </p>
  </header>
  <div class="entry-content">
{{ content }}
  </div>
  <footer class="pager">
    {% if page.previous %}<span class="pager-prev"><a href="{{ page.previous.url }}"> {{ page.previous.title }}</a></span>{% endif %}
    {% if page.next %}<span class="pager-next"><a href="{{ page.next.url }}">{{ page.next.title }} </a></span>{% endif %}
  </footer>
</article>
<a name="comments"></a>
{% include disqus.html %}