---
layout: default
---

<article class="entry" role="article">
  <header class="entry-header">
    <h1 class="entry-title">{{ page.title }}</h1>
    <p class="entry-meta">
      <time class="entry-time" datetime="{{ page.date }}">{{ page.date | date: '<span class="entry-month">%m</span><span class="entry-year">%Y</span><span class="entry-day">%d</span>' }}</time>
    </p>
  </header>
  <div class="entry-content">
{{ content }}
  </div>
</article>
{% include pagination-post.html %}
<a name="comments"></a>
{% include comments.html %}